.c-cardNews {
    margin: 10px;
    &__img {
        width: 200px;
        height: auto;
    }
}

.master-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}