<div class="row">
    <div *ngFor="let element of this.serviceAdd.list" class="master-div cardNews col-12 col-md-5 col-lg-3">
        <mat-card class="c-cardNews">
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            <mat-card-title>{{element.title}}</mat-card-title>
            <mat-card-content>
                <img class="c-cardNews__img" src="../../../../../assets/img/HeaderBack.png">
                <p>Click the link:
                    <a href="{{element.url}}">Complete Article</a>
                </p>
            </mat-card-content>
            <mat-divider inset></mat-divider>
            <mat-card-actions>

                <button mat-button>ELIMINATE</button>
            </mat-card-actions>
            <mat-card-footer>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </mat-card-footer>
        </mat-card>
    </div>
</div>