@import "../../../styles/variables/variables";
@import"../../../styles/elements/elements";
@import"../../../styles/blocks/blocks";
* {
    box-sizing: border-box
}

mat-tab-group {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-nasa {
    &--stars {
        display: flex;
        flex-direction: row;
        &__card {
            width: 40%;
            height: auto;
        }
    }
}
