<mat-spinner *ngIf="loaderActive"></mat-spinner>
<mat-tab-group class="c-nasa">
    <mat-tab label="News">
        <div class="row">
            <app-card-news class="col-12 col-md-5 col-lg-3" [news]="news" *ngFor="let news of newsList"></app-card-news>
        </div>
    </mat-tab>

    <mat-tab label="Rovers´s Photos">
        <p>You are in page {{this.pageRover}} of 40</p>
        <button mat-flat-button color="primary" class="buttonclass" (click)="prewRover()">Prew</button>
        <button mat-flat-button color="primary" class="buttonclass" (click)="nextRover()">Next</button>

        <div class="row">
            <app-cards class="col-12 col-md-5 col-lg-3" [roverPhoto]="roverPhoto" *ngFor="let roverPhoto of roverList"></app-cards>
        </div>

    </mat-tab>

    <mat-tab label="Photo of the Day">
        <p>You choose the next date: {{this.date}}</p>
        <app-photo-of-day (sendForm)="dateRecived($event)" [photoDay]="photoDay"></app-photo-of-day>
    </mat-tab>

    <mat-tab label="Stars" class="c-nasa--stars">
        <h2>
            More Brightness stars in the SKY</h2>

        <mat-form-field appearance="outline">
            <mat-label>Search your STAR¡¡</mat-label>
            <input matInput placeholder="Placeholder" type="text" name="filterStars" placeholder="Search your star...." [(ngModel)]="filterStars">
            <mat-icon matSuffix>star</mat-icon>
            <mat-hint>Only the most Brighless</mat-hint>
        </mat-form-field>
        <app-card-stars *ngFor="let star of starsList |findStars:filterStars" [stars]="star" class="c-nasa--stars__card"></app-card-stars>


    </mat-tab>
</mat-tab-group>
