<p>WORK REGISTER</p>
<div class="c-register">
    <div class="c-register--title">
        <h1 class="font-text--l tittle2 c-register--title__title">Join our community...</h1>
        <img class="c-register--title__img" src="../../../../../assets/img/black-hole-quasar-water-cloud-1024x768.jpg">
    </div>

    <form class="c-register--form" novalidate (ngSubmit)="onSubmit()" [formGroup]="userRegister">

        <fieldset>
            <h4 class="font-text tittle">Personal Information</h4>
            <label for="name">Name:
            <mat-form-field appearance="outline">
              <mat-label>Complete Name</mat-label>
              <input type="text" id="name" formControlName="name"matInput placeholder="Placeholder">
              <mat-icon matSuffix>person_pin</mat-icon>
              <mat-hint><p *ngIf="!userRegister.get('name')?.valid && (userRegister.get('name')?.dirty || submitted)">
                User Name is Obligatory</p>
              </mat-hint>
            </mat-form-field>
        </label>
            <label for="nick">Nick:
          <mat-form-field appearance="outline">
            <mat-label>User Name/Nick</mat-label>
            <input type="text" id="nick" formControlName="nick"matInput placeholder="Placeholder">
            <mat-icon matSuffix>forum</mat-icon>
            <mat-hint><p *ngIf="!userRegister.get('nick')?.valid && (userRegister.get('nick')?.dirty || submitted)">
              Your NICK is Obligatory</p>
            </mat-hint>
          </mat-form-field>
      </label>
            <label for="profile_img">Image Profile
        <mat-form-field appearance="outline">
          <mat-label>Add your Profile Picture</mat-label>
          <input type="text" id="profile_img" formControlName="profile_img"matInput placeholder="Placeholder">
          <mat-icon matSuffix>photo_size_select_actual</mat-icon>
        </mat-form-field>
    </label>
        </fieldset>
        <fieldset>
            <h4 class="font-text tittle">Account Information</h4>
            <label for="email">E-mail:
            <mat-form-field appearance="outline">
              <mat-label>E-mail</mat-label>
              <input type="text" id="email" formControlName="email"matInput placeholder="Placeholder">
              <mat-icon matSuffix>forum</mat-icon>
              <mat-hint><p *ngIf="userRegister.get('email')?.errors?.['required']&&(userRegister.get('email')?.dirty || submitted)">
                Obligatory field
              </p>
              <p *ngIf="userRegister.get('email')?.errors?.['email']">
                Wrong e-mail form
              </p>
              </mat-hint>
            </mat-form-field>
        </label>
            <label for="Password">Password:
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input type="password" id="password" formControlName="password"matInput placeholder="Placeholder">
            <mat-icon matSuffix>wb_auto</mat-icon>
            <mat-hint><p *ngIf="userRegister.get('password')?.errors?.['required'] && (userRegister.get('password')?.dirty || submitted)">
              Obligatory Field
          </p>
          <p *ngIf="userRegister.get('password')?.errors?.['pattern']">
              Password must to be min 8 characters between letters and numbers
          </p>
            </mat-hint>
          </mat-form-field>
      </label>
            <label for="Repeat Password">Repeat Password:
        <mat-form-field appearance="outline">
          <mat-label>Repeat Password</mat-label>
          <input type="password" id="repeatPassword" formControlName="repeatPassword"matInput placeholder="Placeholder">
          <mat-icon matSuffix>rotate_left</mat-icon>
          <mat-hint>
            <p *ngIf="userRegister.get('repeatPassword')?.errors?.['required'] && (userRegister.get('password')?.dirty || submitted)">
            Obligatory Field
        </p>
        <p *ngIf="userRegister.get('repeatPasswordt')?.errors?.['pattern']">
          Password must to be min 8 characters between letters and numbers
        </p>
        <p *ngIf="userRegister.get('repeatPassword')?.errors?.['mustMatch']">
            Passwords don´t match
        </p>
          </mat-hint>
        </mat-form-field>
    </label>
        </fieldset>

        <fieldset>
            <h4 class="font-text tittle">Aditional Data</h4>
            <label for="country">Country:
              <mat-form-field appearance="outline">
                <mat-label>Country/Estate</mat-label>
                <input type="text" id="country" formControlName="country"matInput placeholder="Placeholder">
                <mat-icon matSuffix>account_balance</mat-icon>
                <mat-hint><p *ngIf="userRegister.get('country')?.errors?.['pattern']">
                  Only Letteres
                </p>
                </mat-hint>
              </mat-form-field>
            </label>
            <label for="city">City:
  <mat-form-field appearance="outline">
    <mat-label>City/Town/Estate</mat-label>
    <input type="text" id="city" formControlName="city"matInput placeholder="Placeholder">
    <mat-icon matSuffix>markunread_mailbox</mat-icon>
    <mat-hint><p *ngIf="userRegister.get('city')?.errors?.['pattern']">
      Only Letteres
    </p>
    </mat-hint>
  </mat-form-field>
  </label>
            <label for="birth_date">Birth Date:
    <mat-form-field appearance="outline">
      <mat-label>Birth Date</mat-label>
      <input type="text" id="birth_date" formControlName="birth_date"matInput placeholder="Placeholder">
      <mat-icon matSuffix>date_range</mat-icon>
      <mat-hint><p *ngIf="userRegister.get('birth_date')?.errors?.['pattern']">
        Must be dd/mm/yyyy
      </p>
      </mat-hint>
    </mat-form-field>
  </label>
        </fieldset>
        <p *ngIf="submitted && !this.userRegister.valid">Existen errores en el formulario</p>
        <button mat-raised-button color="primary" (click)="click()" type="submit" [disabled]="submitted">Submit</button>

    </form>
</div>