@import"../../../../../styles/blocks/blocks";
.c-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    &--title {
        margin: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        &__title {
            margin-right: 5px;
            text-decoration: underline blue;
        }
        &__img {
            width: 140px;
            height: 120px;
            border-radius: 50%;
            margin-left: 5px;
        }
    }
}

p {
    color: red;
}

label {
    margin: 10px;
}

fieldset {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 3%;
    border: 2px solid rgba(52, 52, 189, 0.89);
}

form {
    width: 85%;
    margin-bottom: 10px;
}

h4 {
    text-decoration: underline 2px rgba(52, 52, 189, 0.89);
    ;
}