.c-admin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--img {
        width: 70%;
        height: auto;
        border-radius: 5%;
        margin-bottom: 10px;
    }
}