<div class="c-admin">
    <h1 class="font-text tittle">GESTION ALL YOUR PROFILES</h1>
    <img class="c-admin--img" src="../../../assets/img/f8ffca8f90acf1d5314132cbb524e690--planets-of-solar-system-planetary-system.jpg">
</div>