<mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
        <mat-panel-title class="font-text2">
            Visit Us
            <mat-icon>av_timer</mat-icon>
        </mat-panel-title>
        <mat-panel-description>
            Visit us in time of 7:00 to 19:00
        </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi magni tempora facere error explicabo ad eveniet excepturi iste velit, consequuntur laudantium exercitationem aut accusantium assumenda quaerat, minima ea, vitae quod!</p>
</mat-expansion-panel>

<mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
        <mat-panel-title class="font-text2">
            Contact Us
            <mat-icon>contact_mail</mat-icon>
        </mat-panel-title>
        <mat-panel-description>
            Diferents Ways To Contacts
        </mat-panel-description>
    </mat-expansion-panel-header>
    <p>
        <li>FaceBook
            <mat-icon>library_books</mat-icon>
            <span>Observatorio Astronomer Tenerife</span>
        </li>
        <li>Twitter
            <mat-icon>smartphone</mat-icon>
            <span>@astronomerIsland</span>
        </li>
        <li>Instagram
            <mat-icon>camera_alt</mat-icon>
            <span>@astronomerIslandObservatory</span>
        </li>
        <li>G-Mail
            <mat-icon>mail</mat-icon>
            <span>tenerifeObservatory@astronomer.com</span>
        </li>
    </p>
</mat-expansion-panel>


<mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
        <mat-panel-title class="font-text2">
            Work With Us
            <mat-icon>work</mat-icon>
        </mat-panel-title>
        <mat-panel-description>
            We Prefer that YOU COME HERE IN PERSON¡¡¡
        </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias dolore cum, animi deserunt laborum odio, earum cupiditate magni quis quidem maxime qui vitae, praesentium consectetur iure repellendus! Quis, praesentium deleniti.</p>
</mat-expansion-panel>
