<p>Choose a date for look the NASA´s Photo of the Day</p>
<form novalidate (ngSubmit)="sendDate()" [formGroup]="dateForm">
    <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" id="date" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>

    </mat-form-field>
    <button mat-flat-button color="primary" class="buttonclass" type="submit" [disabled]="submitted">Search</button>
</form>

<div *ngIf=active>
    <span class="font-text--l tittle">TITLE: </span>
    <p>{{photoDay.title}}</p>
    <span class="font-text tittle">Date: </span>
    <p>{{photoDay.date}}</p>
    <span class="font-text tittle">Author: </span>
    <p>{{photoDay.copyright}}</p>


    <span class="font-text tittle">Description:</span>
    <p>{{photoDay.explanation}}</p>
    <img src="{{photoDay.url}}">
</div>
