<p>Work comunityService</p>
<mat-card class="c-comunity" *ngFor="let user of this.comunityService.userList">
    <mat-card-title-group>
        <mat-card-title>{{user.name}}</mat-card-title>
        <mat-card-subtitle>{{user.nick}}</mat-card-subtitle>
        <img mat-card-md-image src="{{user.profile_img}}">
    </mat-card-title-group>
    <mat-card-content>
        <ul>
            <li>{{user.email}}</li>
        </ul>
    </mat-card-content>
</mat-card>