@import"../../../../../styles/variables/variables";
* {
    box-sizing: border-box;
}

.c-header {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px;
    &__1 {
        width: 100%;
        height: 70%;
        display: flex;
        align-items: center;
        border-bottom: 3px solid $fourth;
        background-image: url("../../../../../assets/img/HeaderBack.png");
        background-size: cover;
        background-repeat: no-repeat;
        &--container {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 5px;
        }
        &--img {
            width: 50px;
            height: 50px;
            border-radius: 100%;
            margin: 5px;
        }
    }
    &__2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 5px;
        width: 100%;
        height: 40%;
        background-color: rgba(0, 0, 0, 0.767);
        &--nav {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        &--div {
            display: flex;
            flex-direction: row;
            align-items: center;
            &--center {
                background-color: rgba(245, 244, 244, 0.712);
                border-radius: 2%;
            }
        }
        &--img {
            width: 50px;
            height: auto;
        }
    }
}

.linkActive {
    background-color: $fitht;
    border-radius: 5%;
}

.tittle {
    padding-left: 10px;
    text-shadow: 1px 1px 0 grey, -1px 1px 0 grey, 1px -1px 0 grey, -1px -1px 0 grey, 0px 1px 0 grey, 0px -1px 0 grey, -1px 0px 0 grey, 1px 0px 0 grey, 2px 2px 0 grey, -2px 2px 0 grey, 2px -2px 0 grey, -2px -2px 0 grey, 0px 2px 0 grey, 0px -2px 0 grey, -2px 0px 0 grey, 2px 0px 0 grey, 1px 2px 0 grey, -1px 2px 0 grey, 1px -2px 0 grey, -1px -2px 0 grey, 2px 1px 0 grey, -2px 1px 0 grey, 2px -1px 0 grey, -2px -1px 0 grey;
}
