<div class="c-header">
    <div class="c-header__1">
        <div class="c-header__1--container">
            <img src="../../../../../assets/img/IconoPag.png" class="c-header__1--img">
            <p class="font-text--l tittle">ASTRONOMERS</p>
            <p class="font-text--s tittle">"Always in the air"</p>
        </div>

    </div>

    <div class="c-header__2">
        <nav class="c-header__2--nav">
            <div class="c-header__2--div">
                <a class="font-text" [matMenuTriggerFor]="menuHome" routerLink="/home" routerLinkActive="linkActive">
                    <mat-icon>home</mat-icon>HOME</a>
                <mat-menu #menuHome="matMenu">
                    <a class="font-text tittle" routerLink="/home/welcome" routerLinkActive="linkActive"><button mat-menu-item class="font-text tittle">Who fu**** we are?!</button></a>
                    <a class="font-text tittle" routerLink="/home/contact" routerLinkActive="linkActive"><button mat-menu-item class="font-text tittle">Contact with Us</button></a>
                </mat-menu>
            </div>
            <div class="c-header__2--div c-header__2--div--center">
                <a class="font-text tittle" routerLink="/nasa" routerLinkActive="linkActive"><img class="c-header__2--img" src="../../../../../assets/img/NASA_logo.svg.png">NASA
                </a>
                <a class="font-text tittle" routerLink="/spacex" routerLinkActive="linkActive"><img class="c-header__2--img" src="../../../../../assets/img/SpaceX-Logo.png">SPACE X</a>
            </div>
            <div class="c-header__2--div">
                <a class="font-text" [matMenuTriggerFor]="menuAdmin" routerLink="/admin" routerLinkActive="linkActive">
                    <mat-icon>supervised_user_circle</mat-icon>GESTION</a>
                <mat-menu #menuAdmin="matMenu">
                    <a class="font-text tittle" routerLink="/admin/login" routerLinkActive="linkActive"><button mat-menu-item class="font-text tittle">Login</button></a>
                    <a class="font-text tittle" routerLink="/admin/register" routerLinkActive="linkActive"><button mat-menu-item class="font-text tittle">Register</button></a>
                    <a class="font-text tittle" routerLink="/admin/savedElements" routerLinkActive="linkActive"><button mat-menu-item class="font-text tittle">Element Saved</button></a>
                    <a class="font-text tittle" routerLink="/admin/comunity" routerLinkActive="linkActive"><button mat-menu-item class="font-text tittle">Comunity</button></a>
                </mat-menu>
            </div>
        </nav>

    </div>

</div>