.c-footer {
    background: linear-gradient( to bottom, #0d0d0e, #534d55e3, #e7cdd3, #534d55e3, #0d0d0e, );
    width: 100%;
    height: 180px;
    position: relative;
    bottom: 0px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    &--div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__img {
            width: 150px;
            height: auto;
            border: 2px solid white;
        }
    }
}

.shadow {
    text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
    font-weight: bold;
    letter-spacing: 2px;
}
