<div class="c-footer">
    <div class="c-footer--div font-text--s shadow">
        <h4 c>FOLLOW US:</h4>
        <li>FaceBook
            <mat-icon class="font-text--s shadow">library_books</mat-icon>
            <span>Observatorio Astronomer Tenerife</span>
        </li>
        <li>Twitter
            <mat-icon class="font-text--s shadow">smartphone</mat-icon>
            <span>@astronomerIsland</span>
        </li>
        <li>Instagram
            <mat-icon class="font-text--s shadow">camera_alt</mat-icon>
            <span>@astronomerIslandObservatory</span>
        </li>
    </div>
    <div class="c-footer--div font-text--s shadow">
        <h4>ADDRESS</h4>
        <span>Slooh Teide Observatory (STO)</span>
        <span>Observatorio del Cerro Izaña, Av. Pico Teide, 38107 Santa Cruz de Tenerife</span>
        <img class="c-footer--div__img" src="../../../../../assets/img/unknown.png">
    </div>
    <div class="c-footer--div font-text--s shadow">
        <h4>COMPANYES: </h4>
    </div>

</div>
