<mat-card class="example-card">
    <mat-card-subtitle>Name Mission:{{mission.mission_name}}</mat-card-subtitle>
    <mat-card-title>Manufacture Company{{mission.manufactures}}</mat-card-title>
    <mat-card-content>
        <p>{{mission.description}}</p>
        <p></p>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-subtitle>Satellites in mission:</mat-card-subtitle>
    <mat-card-subtitle *ngFor="let satellites of mission.satellites">{{satellites}} </mat-card-subtitle>
    <mat-divider></mat-divider>
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        <a href="{{mission.wikipedia}}"><button mat-raised-button color="Primary">GO to Wikipedia¡¡ FOR MORE...</button></a>
    </mat-card-actions>
    <mat-card-footer>
        <mat-progress-bar mode="buffer" progress color="Primary"></mat-progress-bar>
    </mat-card-footer>
</mat-card>
