<mat-card class="example-card">
    <mat-card-title-group>
        <mat-card-title>{{stars.name}}</mat-card-title>
        <mat-card-subtitle>More Brightness position:{{stars.rank}}</mat-card-subtitle>
        <img mat-card-sm-image src="../../../../../assets/img/betelgeuse-nuevas.jpg">
    </mat-card-title-group>
    <mat-card-content>
        <li>Light-Years: {{stars.distance}}</li>
        <li>Spectral Class: {{stars.spectralClass}}</li>
        <li>Visual Magnitude: {{stars.visualMagnitude}}</li>
    </mat-card-content>
    <a href={{stars.link}}><button mat-raised-button color="primary">
      <span>Go to complete Information</span><mat-icon>chevron_right</mat-icon>

    </button></a>
</mat-card>
