<mat-card class="c-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Photo Date: {{roverPhoto.earth_date}}</mat-card-title>
        <mat-card-subtitle>Nasa ID Photo: {{roverPhoto.id}}
        </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src={{roverPhoto.img_src}} alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p>This photo was taked by the Rover <b>{{roverPhoto.rover}}</b> whit the <b>{{roverPhoto.camera}}</b> camera
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>
