@import "../../../styles/variables/variables";
* {
    box-sizing: border-box
}

mat-tab-group {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-spacex__rocket {
    margin: 10px;
}