<mat-tab-group>
    <mat-tab label="Rockets">
        <app-card-rockets class="c-spacex__rocket" *ngFor="let rockets of rocketList" [rocket]="rockets"></app-card-rockets>
    </mat-tab>
    <mat-tab label="Launches">
        <app-card-launches *ngFor="let launches of finalList" [launch]="launches"></app-card-launches>
    </mat-tab>
    <mat-tab label="SpaceX Missions">
        <app-card-missions *ngFor="let missions of missionList" [mission]="missions"></app-card-missions>
    </mat-tab>
</mat-tab-group>
