<mat-card class="c-rocket font-text">
    <mat-card-title-group>
        <mat-card-title>{{rocket.name}}</mat-card-title>
        <mat-card-subtitle>Activity: {{rocket.active}}</mat-card-subtitle>
        <mat-card-subtitle>Company: {{rocket.company}}</mat-card-subtitle>
        <img mat-card-md-image src="{{rocket.flickr_images[0]}}">
        <img mat-card-md-image src="{{rocket.flickr_images[1]}}">
    </mat-card-title-group>
    <button mat-raised-button color="primary" (click)="getActive()">More Information</button>
    <mat-card-content *ngIf="isActive">
        <li>Country:{{rocket.country}}</li>
        <li>Cost of launch:{{rocket.cost_per_launch}} $</li>
        <li>Height:{{rocket.height.meters}}</li>
        <li>Diameter:{{rocket.diameter.meters}}</li>
        <li>First flight:{{rocket.first_flight}}</li>
        <li>Engine:
            <ul>
                <li>Type:{{rocket.engines.type}}</li>
                <li>Version:{{rocket.engines.version}}</li>
                <li>Nº engines:{{rocket.engines.number}}</li>
            </ul>
        </li>

        <a href="{{rocket.wikipedia}}"><button mat-raised-button color="primary">Go to Wikipedia!!</button></a>
    </mat-card-content>
</mat-card>
