@import"../../../styles/variables/variables";
@import"../../../styles//elements/elements";
@import"../../../styles/blocks/blocks";
.c-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    &--div {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__img {
            width: 600px;
            height: auto;
            border-radius: 5%;
            margin: 10px;
        }
    }
}

@import url("https://fonts.googleapis.com/css?family=Montserrat");
svg {
    display: block;
    font: 7.5em 'Montserrat';
    width: 500px;
    height: auto;
    margin: 20px;
    z-index: 8;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1) {
    stroke: #4D163D;
    animation-delay: -1;
}

.text-copy:nth-child(2) {
    stroke: #101395;
    animation-delay: -2s;
}

.text-copy:nth-child(3) {
    stroke: #BD0034;
    animation-delay: -3s;
}

.text-copy:nth-child(4) {
    stroke: #8f8688;
    animation-delay: -4s;
}

.text-copy:nth-child(5) {
    stroke: #FDB731;
    animation-delay: -5s;
}

@keyframes stroke-offset {
    100% {
        stroke-dashoffset: -35%;
    }
}
