<div class="c-home">
    <div class="c-home--div">
        <svg viewBox="0 0 960 300">
        <symbol id="s-text">

          <text text-anchor="middle" x="50%" y="80%">ASTRONOMERS</text>
        </symbol>

        <g class = "g-ants">
          <use xlink:href="#s-text" class="text-copy"></use>
          <use xlink:href="#s-text" class="text-copy"></use>
          <use xlink:href="#s-text" class="text-copy"></use>
          <use xlink:href="#s-text" class="text-copy"></use>
          <use xlink:href="#s-text" class="text-copy"></use>
        </g>
      </svg>

    </div>
    <div class="c-home--div">
        <h2 class="font-text--l tittle">All you need about aeroespacial enviroment</h2>
        <img class="c-home--div__img" src="../../../assets/img/google-earth.jpeg">
    </div>
</div>
