<mat-card class="c-cardNews">
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    <mat-card-title>{{news.title}}</mat-card-title>
    <mat-card-content>
        <img class="c-cardNews__img" src="../../../../../assets/img/HeaderBack.png">
        <p>Click the link:
            <a href="{{news.url}}">Complete Article</a>
        </p>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
        <button mat-button (click)="addNotice()">LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
    <mat-card-footer>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
</mat-card>