<mat-card class="example-card">
    <mat-card-title-group>
        <mat-card-title>Missions name: {{launch.mission_name}}</mat-card-title>
        <mat-card-subtitle>Fly Number: {{launch.flight_number}}</mat-card-subtitle>
        <img mat-card-sm-image src="{{launch.links.mission_patch}}">
    </mat-card-title-group>
    <button mat-raised-button color="primary" (click)="moreInformation()">More Information</button>
    <mat-card-content *ngIf="isActive">
        <ul>
            <li>Launch Year: {{launch.launch_year}}</li>
            <li>Launch Date.{{launch.launch_date_utc}}</li>
            <li>Rocket Information:{{launch.rocket.rocket_name}}//{{launch.rocket.rocket_type}}</li>
            <li>Launch Article<a href="{{launch.links.article_link}}"><button mat-raised-button color="primary">Get the Article</button></a></li>
            <!-- <li><iframe src="{{launch.links.video_link}}" width="560" height="315" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li> -->
            <iframe *ngIf="launch.links.video_link" width="300" height="270" [src]="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <li>URL:{{launch.links.video_link}}</li>
        </ul>
    </mat-card-content>
</mat-card>