/* You can add global styles to this file, and also import other style files */

@import "styles/variables/variables";
@import "styles/blocks/blocks";
@import "styles/elements/elements";
@import "~bootstrap/scss/bootstrap-grid";
html,
body {
    height: 100%;
}

body {
    margin: 2px;
    font-size: 16px;
    color: $third;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
