.c-welcome {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

img {
    width: 200px;
    height: 200px;
    margin: 10px;
}

.titleimg {
    width: 50px;
    height: auto;
}

// .c-welcome {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     border: ;
//     &--div {
//         &__text {}
//         &__img {}
//     }
// }
