<mat-card class="c-welcome">
    <mat-card-subtitle class="font-text--l tittle">Instituto de Astrofísica de Canarias</mat-card-subtitle>
    <mat-card-title>Nasa Observatory Certificated
        <img src="../../../../../assets/img/NASA_logo.svg.png" class="titleimg"></mat-card-title>
    <mat-card-content>
        <p>Lorem ipsum Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus odio necessitatibus ex quia maiores ullam sequi voluptas, sapiente illo ducimus, deserunt quam explicabo, excepturi suscipit modi dicta officiis non dolorum? dolor sit
            amet consectetur, adipisicing elit. Error modi alias molestias accusantium quas expedita a nostrum, officiis dolorum ullam nam architecto illum illo, iusto, porro mollitia impedit at deleniti!</p>
        <p></p>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
        <img src="../../../../../assets/img/descarga.jpg">
        <img src="../../../../../assets/img/p476967afot-2-1024x576.jpg">
    </mat-card-actions>
    <mat-card-footer>
        <mat-progress-bar mode="buffer"></mat-progress-bar>
    </mat-card-footer>
</mat-card>

<!-- <div class="c-welcome">
    <div class="c-welcome--div">

    </div>
    <div class="c-welcome--div">
        <div class="c-welcome--div--text">

        </div>
        <div class="c-welcome--div--img">

        </div>
    </div>
</div> -->
