a {
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

mat-icon {
    margin: 4px
}

button {
    margin: 4px;
    padding: 3px;
}

.buttonclass {
    margin: 6px;
    padding: 3px;
}
