.tittle {
    text-shadow: 1px 1px 0 grey, -1px 1px 0 grey, 1px -1px 0 grey, -1px -1px 0 grey, 0px 1px 0 grey, 0px -1px 0 grey, -1px 0px 0 grey, 1px 0px 0 grey, 2px 2px 0 grey, -2px 2px 0 grey, 2px -2px 0 grey, -2px -2px 0 grey, 0px 2px 0 grey, 0px -2px 0 grey, -2px 0px 0 grey, 2px 0px 0 grey, 1px 2px 0 grey, -1px 2px 0 grey, 1px -2px 0 grey, -1px -2px 0 grey, 2px 1px 0 grey, -2px 1px 0 grey, 2px -1px 0 grey, -2px -1px 0 grey
}

.tittle2 {
    text-shadow: 1px 1px 0 rgb(37, 37, 190), -1px 1px 0 rgb(37, 37, 190), 1px -1px 0 rgb(37, 37, 190), -1px -1px 0 rgb(37, 37, 190), 0px 1px 0 rgb(37, 37, 190), 0px -1px 0 rgb(37, 37, 190), -1px 0px 0 rgb(37, 37, 190), 1px 0px 0 rgb(37, 37, 190), 2px 2px 0 rgb(37, 37, 190), -2px 2px 0 rgb(37, 37, 190), 2px -2px 0 rgb(37, 37, 190), -2px -2px 0 rgb(37, 37, 190), 0px 2px 0 rgb(37, 37, 190), 0px -2px 0 rgb(37, 37, 190), -2px 0px 0 rgb(37, 37, 190), 2px 0px 0 rgb(37, 37, 190), 1px 2px 0 rgb(37, 37, 190), -1px 2px 0 rgb(37, 37, 190), 1px -2px 0 rgb(37, 37, 190), -1px -2px 0 rgb(37, 37, 190), 2px 1px 0 rgb(37, 37, 190), -2px 1px 0 rgba(26, 26, 200, 0.856), 2px -1px 0 rgb(37, 37, 190), -2px -1px 0 rgb(37, 37, 190)
}

;
.font-text {
    font-size: 16px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    &--s {
        font-size: 10px;
        color: white;
    }
    &--l {
        font-size: 22px;
        color: white;
    }
}

.font-text2 {
    font-size: 16px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    &--s {
        font-size: 10px;
        color: black;
    }
    &--l {
        font-size: 22px;
        color: black;
    }
}